<!-- templates/accounts/register.html -->

{% extends "base.html" %}
{% block title %}Înregistrare{% endblock %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block content %}
<h2>Înregistrare</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="password1">Parolă:</label>
        <input type="password" id="password1" name="password1" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="password2">Confirmă Parola:</label>
        <input type="password" id="password2" name="password2" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Înregistrează-te</button>
</form>
<p>Ai deja cont? <a href="{% url 'login' %}">Conectează-te</a></p>
{% endblock %}
