{% extends "base.html" %}
{% block content %}
{% load tz %}

<style>
  /* Stiluri minimale pentru tabele */
  table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
  }
  th, td {
      padding: 8px;
      text-align: left;
      border: 1px solid #ddd;
  }
  th {
      background-color: #f2f2f2;
  }
  h2 {
      color: #336699;
  }
</style>

<h2>Detalii Colet</h2>
<table>
  <tr>
    <th>Câmp</th>
    <th>Valoare</th>
  </tr>
  <tr>
    <td>Cod</td>
    <td>{{ box.code }}</td>
  </tr>
  <tr>
    <td>Nume</td>
    <td>{{ box.name }}</td>
  </tr>
  <tr>
    <td>Culoare</td>
    <td>{{ box.get_color_display }}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>{{ box.get_status_display }}</td>
  </tr>
  <tr>
    <td>Preț livrare</td>
    <td>{{ box.price }}</td>
  </tr>
  <tr>
    <td>Secțiune</td>
    <td>{% if box.section %}{{ box.section.nume_custom }}{% else %}N/A{% endif %}</td>
  </tr>
  <tr>
    <td>Data Adăugării</td>
   <td>{{ box.added_date|timezone:"Europe/Bucharest" }}</td>

  </tr>
  <tr>
    <td>Data Vânzării</td>
    <td>{% if box.sold_date %}{{ box.sold_date|timezone:"Europe/Bucharest" }}{% else %}N/A{% endif %}</td>
  </tr>
</table>

<h2>Istoric Comenzi</h2>
{% if order_history %}
<table>
  <tr>
    <th>ID Comandă</th>
    <th>User</th>
    <th>Data Comenzii</th>
    <th>Status</th>
    <th>Total</th>
    <th>Adresă</th>
  </tr>
  {% for order in order_history %}
  <tr>
    <td>{{ order.id }}</td>
    <td>{{ order.user.username }}</td>
    <td>{{ order.ordered_date|timezone:"Europe/Bucharest" }}</td>
    <td>{{ order.get_status_display }}</td>
    <td>{{ order.total_amount }}</td>
    <td>{{ order.county }}, {{ order.street }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Nu există comenzi asociate acestei cutii.</p>
{% endif %}
{% endblock %}
