{% extends 'store_new/base.html' %}
{% block title %}Coș de Cumpărături{% endblock %}
{% load cart_extras %}
{% block content %}
<h1>Coșul tău</h1>
{% if cart_items %}
    <form method="post" action="{% url 'store_new:update_cart' %}">
        {% csrf_token %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Produs</th>
                    <th>Preț (lei)</th>
                    <th>Cantitate</th>
                    <th>Total (lei)</th>
                    <th>Acțiuni</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <input type="number" name="quantity_{{ item.id }}" value="{{ item.quantity }}" min="0" class="form-control" style="width: 80px;">
                    </td>
                    <td>{{ item.price|multiply:item.quantity }} lei</td>
                    <td>
                        <a href="{% url 'store_new:remove_from_cart' product_id=item.id %}" class="btn btn-danger btn-sm">Elimină</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="font-weight-bold">Total: {{ total }} lei</p>
        <button type="submit" class="btn btn-primary">Actualizează Coșul</button>
        <a href="{% url 'store_new:checkout' %}" class="btn btn-success">Finalizează Comanda</a>

        <a href="{% url 'store_new:order_history' %}" class="btn btn-info">Istoric Comenzi</a>
    </form>
{% else %}
    <p>Coșul este gol.</p>
    <a href="{% url 'store_new:order_history' %}" class="btn btn-info">Istoric Comenzi</a>
{% endif %}
{% endblock %}
