{% extends 'store_new/base.html' %}
{% load cart_extras %}
{% block title %}Detalii Produs{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <img src="{{ product.main_image }}" alt="{{ product.title }}" class="img-fluid">
    </div>
    <div class="col-md-6">
        <h1>{{ product.title }}</h1>
        <p><strong>Preț:</strong> {{ product.price }} lei</p>
        <p>{{ product.description }}</p>
        <a href="{% url 'store_new:add_to_cart' product_id=product.id %}" class="btn btn-success">Adaugă în coș</a>
    </div>
</div>
{% endblock %}
