{% extends 'store_new/base.html' %}
{% load static %}
{% block title %}Detalii Cutie{% endblock %}
{% block content %}
<h1>Detalii Cutie</h1>
<table class="table table-bordered">
    <tr>
        <th>Cod Cutie</th>
        <td>{{ box.code }}</td>
    </tr>
    <tr>
        <th>Nume</th>
        <td>{{ box.name }}</td>
    </tr>
    <tr>
        <th>Culoare</th>
        <td>{{ box.get_color_display }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>
            {% if box.status == "in_stoc" %}
                În stoc
            {% elif box.status == "sold" %}
                Vândută
            {% else %}
                {{ box.status }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Preț</th>
        <td>{{ box.price }} lei</td>
    </tr>
    <tr>
        <th>Secțiune</th>
        <td>
            {% if box.section %}
                {{ box.section.nume_custom }} ({{ box.section.get_tip_sectie_display }})
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Imagine</th>
        <td>
            {% if box.image %}
                <img src="{{ box.image.url }}" alt="{{ box.name }}" style="max-width:200px;">
            {% else %}
                Fără imagine
            {% endif %}
        </td>
    </tr>
</table>

<

<a href="{% url 'store_new:box_search' %}" class="btn btn-secondary">Caută altă cutie</a>
{% endblock %}
